@font-face {
  font-family: "MagazineLetters";
  src:  url("Fonts/MagazineLetterByBrntlbrnl-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Revista";
  src:  url("Fonts/REVISTA.ttf") format("truetype");
}

@font-face {
  font-family: "Organical";
  src:  url("Fonts/ORGANICAL PERSONAL USE.ttf") format("truetype");
}

body {
    background-image: url("Textures/BURLOAK.JPG");
}

.main {
    background-image: url("Textures/pattern\ 19.jpg");
    width: 60%;
    height: 100vh;
    margin: 0 auto;
    padding-top: 20px;
}

.title {
    text-align: center;
    font-family: Revista;
    color: rgb(255, 0, 0);
    font-size: 5vw;
}